.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.inputForm {
  width: 50%;
}

.signOut{
  width: 100px;
  margin-top: 20px;
}

.quotecard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  max-width: 100%;
  align-items:center;
}

.card{
  flex: 1;
  height: max-content;
}

@media only screen and (max-width: 1000px){
	.inputForm{
    width: 80%;
  }
  .quotecard{
    flex-direction: column;
    top: 0px;
  }
  .card{
    width: 80%;
  }
}