.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.inputForm {
  width: 40%;
}

.form-group{
  border: 1px solid blue;
}

.signOut{
  width: 100px;
  margin-top: 20px;
}

.quotecard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 30px;
  max-width: 98%;
  align-items:center;
}

.card{
  flex: 1;
  height: max-content;
}

.action_btn{
  width: 40px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px){
	.inputForm{
    width: 100%;
  }
  .quotecard{
    flex-direction: column;
    top: 0px;
  }
  .card{
    width: 80%;
  }
}